$primary:                      #e84118 !default;
$secondary:                    #273c75 !default;
$white:                        #fff !default;

$body-color:                   #4a4a4a !default;
$body-bg:                      #fff !default;
$body-font-family:             'Source Sans Pro', sans-serif !default;
$body-font-size:               16px !default;

$heading-color:                #000 !default;
$heading-font-family:          'Source Sans Pro', sans-serif !default;

// Enable Bootstrap responsive font-size utility.
$enable-responsive-font-sizes:                true !default;